body{
  font-family: Verdana;
  text-align: center;
  background-color: Black;
  color:White;
}

h1{
  font-size:50px;
  font-weight: normal;
}

h3{
  font-weight: 300;
  font-size: 42px;
}

a{
  color: Aquamarine;
  font-size: 16px;
}

p{
  font-size: 21px;
  color:Gray;
}

#footer{
  text-align: right;
}
